<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SkiStation"
        tools:targetApi="31">
        <activity
            android:name=".activity.ItineraireActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ChatActivity"
            android:exported="false" />
        <activity
            android:name=".activity.ResetPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".activity.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".activity.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".activity.DetailActivity"
            android:exported="false"
            android:label="@string/title_activity_detail"
            android:theme="@style/Theme.SkiStation" />
        <activity
            android:name=".activity.SlopesActivity"
            android:exported="false"
            android:label="@string/title_activity_slopes"
            android:theme="@style/Theme.SkiStation" />
        <activity
            android:name=".activity.LiftsActivity"
            android:exported="false"
            android:label="@string/title_activity_lifts"
            android:theme="@style/Theme.SkiStation" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.SkiStation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>